In [13]:
#imports for the project

import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn as sk
import sklearn.datasets

%matplotlib inline

In [22]:
#messing around with making dataframes
fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
fruits
print(fruits)

fruit_sales = pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, index=['2017 Sales','2018 Sales'])
fruit_sales

   Apples  Bananas
0      30       21

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [56]:
#messing around with series
from pandas import Series
s = Series(['4 Cups','1 Cup','2 Large','1 Can'], index=['Flour','Milk','Eggs','Spam'], name='Dinner')


s['Eggs']
s[['Eggs','Flour']]
s.values
s.index
t = Series([1,2,3],index=['foo',17,True])
t

s * 2
np.cos(t)

s3 = Series([1,2,3],['a','n','c'])
s2 = Series([4,5,6],['d','n','f'])

s2 + s3

a    NaN
c    NaN
d    NaN
f    NaN
n    7.0
dtype: float64

In [82]:
#more dataframes
from pandas import DataFrame

df = DataFrame(
    {'fruit':['apple','orange','peach'],
               'tonnes':[42,17,3.1459],
               'variety':['pome','citrus', 'drupe']}, index=['crate1','crate2','crate3'])
print(df)
df[:2]

df.index.name='location'
df
df.loc['crate1',['fruit','tonnes']]
df.iloc[1:2]

         fruit   tonnes variety
crate1   apple  42.0000    pome
crate2  orange  17.0000  citrus
crate3   peach   3.1459   drupe

           fruit  tonnes variety
location
crate2    orange    17.0  citrus